.App {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
}

.disclaimer {
  margin: 20px;
  padding: 10px;
}

.disclaimer > p {
  font-size: 14px;
}
